.singlePost{
    flex:9;
}
.singlePostImage{
    width: 100%;
    height: 350px;
    object-fit: fill;
    border-radius:5px;
    opacity: .8;

}
.postDetails{
    line-height: 30px;
    font-size: 20px;
    margin: 25px 5px 40px 49px;
    color: steelblue;
}
.postDetails::first-letter{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 70px;
}

.editdelete{ 
    float: right;
    margin-right: 15px;
    font-size: 20px;
    
}
.editdeleteIcon{
    cursor: pointer;
}
.editIcon{
    color:teal
}
.deleteIcon{
    color:rgb(224, 14, 31);
    margin-left: 15px;
}
.postTitle{
    text-align: center;
    margin-top: 15px;
    font-size: 40px;
}
.author{
    margin-top: 15px;
    color: cadetblue;
    font-style: italic;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.authordetail{
    display: flex;
    justify-content: space-between;
}