*{
    margin: 0;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0px;
    background-color: rgba(97, 93, 93, 0.89);
    z-index: 1;
    color:white
    
}
.socialIcons{
    padding: 1rem;
    font-size: 20px;
}
.socialIcons:hover{
    cursor: pointer;
}
.item1,.item3{
    flex:3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item2{
    flex:6;
    padding:1rem;
    font-size: large;
}
.item2 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
} 
.item2 li:hover{
    cursor: pointer;
}
.item3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item3 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.item3 input{
    padding: 8px; 
}
.searchInput{
    padding: 5px;
    border-radius: 15px;
    width: 250px;
}
.searchIcon{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}