.headerTitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.headerTitles .headerImage{
    width: 100%;
    height: 600px;
}