.headerTitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.headerImage{
    width: 100%;
    height: 400px;
    object-fit: fill;
}